- var link = 'coco-ssd'
- var title = '用 Tensorflow.js COCO-SSD 辨識圖片物件'
- var description = '用 Tensorflow.js COCO-SSD 辨識圖片物件'

<!DOCTYPE html>
html(lang="zh-Hant")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title} - August - Let's Write

    link(rel="canonical", href=`https://www.letswrite.tw/${link}/`)
    meta(property="og:url", content=`https://letswritetw.github.io/letswrite-${link}/`)

    //- meta(property="fb:app_id", content="911000986339138")
    meta(property="og:type", content="website")

    meta(property="og:site_name", content="Let's Write")
    meta(property="og:title", content=`${title} - Augustus - Let's Write`)
    meta(itemprop="name", content=`${title} - Augustus - Let's Write`)

    meta(name="description", content=description)
    meta(property="og:description", content=description)
    meta(itemprop="description", content=description)

    meta(itemprop="image", content=`https://letswritetw.github.io/letswrite-${link}/fb.jpg`)
    meta(property="og:image", content=`https://letswritetw.github.io/letswrite-${link}/fb.jpg`)
    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="630")
    meta(property="og:image:alt", content=title)

    link(rel="shortcut icon", href="https://letswritetw.github.io/letswritetw/dist/img/logo_512.png")

    //- css
    script(src="https://cdn.tailwindcss.com")
    script.
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              main: '#42A6F7',
              mainHover: '#167FFF'
            }
          }
        }
      }
    link(rel="stylesheet", href="dist/style.min.css")

    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PGQ9WQT');
  body.bg-neutral-800.text-white

    // Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PGQ9WQT", height="0", width="0", style="display:none;visibility:hidden")
    
    #app.container.mx-auto.p-8.transition-opacity(v-cloak)

      .text-center
        h1.mb-4.font-bold.text-4xl=title
        p 筆記文：
          a(class="text-main hover:text-mainHover", href=`https://www.letswrite.tw/${link}/`) Let's Write
      
      hr.my-8.mx-auto.max-w-3xl.border-t.border-gray-500.border-dashed

      section.grid-cols-3.gap-8(class="sm:grid")
        div(class="max-[640px]:mb-8")
          h2.text-2xl.font-bold.mb-4 上傳圖片
          div
            input.block.w-full.px-3.py-2.mt-2.text-sm.text-gray-600.bg-white.border.border-gray-200.rounded-lg(type="file", ref="photo", class="file:bg-main file:hover:bg-mainHover file:text-white file:text-sm file:px-4 file:py-1 file:border-none file:rounded-full placeholder-gray-400/70 focus:border-main focus:outline-none focus:ring focus:ring-mainHover focus:ring-opacity-40 cursor-pointer", :class="{ 'pointer-events-none': loading }", accept="image/*" @change="photoHandler")
        div.col-span-2
          h2.text-2xl.font-bold.mb-4 {{ loading ? '辨識中...' : '辨識結果' }}
          p.mb-2(v-for="(r, i) in result") {{ i + 1 }}. {{ r.class }}：{{ r.score }}
          div(v-show="loading")
            .animate-pulse
              .w-full.h-64.bg-gray-300.rounded-lg(class='md:h-72 dark:bg-gray-600')
          div(v-show="!loading")
            canvas#canvas.w-full

      hr.my-8.mx-auto.max-w-3xl.border-t.border-gray-500.border-dashed

    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.27/vue.global.prod.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs")
    script(src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd")
    script(src="dist/main.min.js")
